  @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

  @import './abstracts/variables';
  @import './abstracts/mixins';
  @import './abstracts//functions';
  @import './base/base';
  @import './components/navbar';
  @import './components/header';
  @import './components/recommendation';
  @import './components/benifit';
  @import './components/footer';
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
  }