.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.inline {
    display: inline;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: end;
}

.flex-1 {
    flex: 1 1 auto;
}

.row-reverse {
    flex-direction: row-reverse;
}